#heading {
    font-size: 25px;
    text-align: center;
}

.sec {
    float: left;
    width: 29%;
    border: 1px solid wheat;
    margin-left: 1%;
    margin-right: 1%;
    background-color: darkgrey;
    color: black;
    padding-left: 10px;
    text-align: justify;
    padding-right: 10px;
}

.head {
    border: 2px solid black;
    text-align: center;
    position: relative;
    top: -20px;
    right: -13px;
    margin-left: 54%;
}

#ah {
    background-color: yellowgreen;
}

#bh {
    background-color: palevioletred;
}

#ch {
    background-color: orangered;
    color: floralwhite;
}

@media only screen and (max-width:991px) {
    .sec-2a {
        width: 44%;
        margin-bottom: 2%;
    }
    .sec-2b {
        width: 93%;
    }
}

@media only screen and (max-width:767px) {
    .sec {
        width: 94%;
    }
}